
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25 20% 12%;
    --foreground: 25 100% 60%;
    --card: 25 20% 12%;
    --card-foreground: 25 100% 60%;
    --popover: 25 20% 12%;
    --popover-foreground: 25 100% 60%;
    --primary: 25 100% 60%;
    --primary-foreground: 25 20% 12%;
    --secondary: 355 80% 45%;
    --secondary-foreground: 0 0% 100%;
    --muted: 25 10% 20%;
    --muted-foreground: 25 50% 50%;
    --accent: 355 80% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 355 80% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 25 20% 20%;
    --input: 25 20% 20%;
    --ring: 25 100% 60%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-ember selection:text-void;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glitch-text {
  text-shadow: 2px 0 #CC171E, -2px 0 #FF8C33;
}

.glitch-text:hover {
  animation: glitch 0.3s cubic-bezier(.25,.46,.45,.94) both infinite;
}

canvas {
  outline: none;
}
